<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- Use the following setting if you want to debug the HtmlContent
         (otherwise, multiple threads might be accessing it and stepping through the code will be annoying) -->
    <!--<settings>
      <setting name="ContentSearch.ParallelIndexing.Enabled" value="false" />
    </settings>-->
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.LuceneProvider.LuceneSearchConfiguration, Sitecore.ContentSearch.LuceneProvider">
        <defaultIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="_content" storageType="no" indexType="tokenized">SitecoreHtmlCrawler.ComputedFields.HtmlCrawledField, SitecoreHtmlCrawler</field>
          </fields>
        </defaultIndexConfiguration>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>